<div class="position-absolute top-50 start-50 translate-middle">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre</span>
        <input type="text" class="form-control" placeholder="Nombre" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">telefono</span>
        <input type="number" class="form-control" placeholder="telefono" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">tipoEntrevista</span>
        <input type="text" class="form-control" placeholder="tipoEntrevista">
    </div>
    <div class="input-group mb-3">
        <input type="date" class="form-control">
        <span class="input-group-text" id="basic-addon2">25/07/2005</span>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">edad</span>
        <input type="number" class="form-control" placeholder="edad" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">estadoCivil</span>
        <input type="text" class="form-control" placeholder="estadoCivil" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">edades</span>
        <input type="number" class="form-control" placeholder="edades" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">ingresos</span>
        <input type="number" class="form-control" placeholder="ingresos" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">actividadEconomica</span>
        <input type="number" class="form-control" placeholder="actividadEconomica" >
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">fuentesProspecto</span>
        <input type="number" class="form-control" placeholder="fuentesProspecto" >
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">@example.com</span>
    </div>
</div>
